<section id="features" class="py-24 bg-white px-6 text-center">
  <h2 class="text-4xl font-bold text-gray-800 mb-6">Trainex imkoniyatlari</h2>
  <p class="text-lg text-gray-600 mb-12 max-w-2xl mx-auto">
    O‘quv markazingizni samarali boshqarish, ota-onalar bilan aloqa va o‘qituvchilar monitoringi — barchasi Trainex’da!
  </p>

  <div class="grid md:grid-cols-3 lg:grid-cols-4 grid-cols-1 gap-8 max-w-6xl mx-auto my-auto ">
    <div class="bg-blue-50 p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold text-blue-600 mb-2">📋 Talaba boshqaruvi</h3>
      <p class="text-gray-600">Ro‘yxatga olish, faol talabalarni kuzatish, guruhlar bilan ishlash.</p>
    </div>

    <div class="bg-blue-50 p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold text-blue-600 mb-2">💳 To‘lov nazorati</h3>
      <p class="text-gray-600">To‘langan, to‘lanmagan, oylik statistikani real vaqtda ko‘rish.</p>
    </div>

    <div class="bg-blue-50 p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold text-blue-600 mb-2">📨 Telegram integratsiyasi</h3>
      <p class="text-gray-600">Ota-onalarga avtomatik bildirishnomalar yuboriladi (baholar, to‘lov, darslar).</p>
    </div>

    <div class="bg-blue-50 p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold text-blue-600 mb-2">👪 Ota-onalar uchun kuzatuv</h3>
      <p class="text-gray-600">Farzandining haftalik va oylik davomati, baholari va to‘lov holatini ko‘rish imkoni.</p>
    </div>

    <div class="bg-blue-50 p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold text-blue-600 mb-2">🧪 IELTS Mock Exam 
        <span class="bg-green-400 text-white text-xs px-2 py-1 rounded-full ml-2">tez-orada</span></h3>
      <p class="text-gray-600">Reading, Listening, Writing sinovlari online shaklda, natijalarni baholash bilan.</p>
    </div>

    <div class="bg-blue-50 p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold text-blue-600 mb-2"> <span class="mr-1">💼</span> O‘qituvchilar oylik <br> tizimi
        <span class="bg-green-400 text-white text-xs px-2 py-1 rounded-full ml-2">tez-orada</span>
      </h3>
      <p class="text-gray-600">Har bir o‘qituvchining oylik ish haqi avtomatik hisoblanadi. To‘landi / to‘lanmadi holati saqlanadi.</p>
    </div>
  </div>
</section>
