<footer id="about" class="bg-blue-900 text-white py-12 px-6 mt-24">
  <div class="max-w-6xl mx-auto grid md:grid-cols-3 gap-10 text-center md:text-left">
    <div>
      <h2 class="text-2xl font-bold mb-1">EduTrek</h2>
      <p class="text-blue-100 mb -2">
        EduTrek - bu ta'lim sohasida innovatsion yechimlarni taklif qiluvchi platforma. Bizning maqsadimiz ta'lim jarayonini yanada samarali va raqamlashtirilgan qilishdir.
      </p>
    </div>

    <div>
      <h3 class="font-semibold mb-2 ">Aloqa</h3>
      <ul class="space-y-2 text-blue-100">
        <li><a href="mailto:julugbek023@example.com" class="hover:underline">Email</a></li>
        <li><a href="https://t.me/Ulugbek19_04" target="_blank" class="hover:underline">Telegram</a></li>
        <li><a href="tel:+998940641904" class="hover:underline">Telefon</a></li>
      </ul>
    </div>

    <div>
      <h3 class="font-semibold mb-2">Portfolio</h3>
      <ul class="space-y-2 text-blue-100">
        <li><a href="https://github.com/Ulugbek1904/" target="_blank" class="hover:underline">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/ulug%CA%BBbek-jumaboyev-8b1021338/" target="_blank" class="hover:underline">LinkedIn</a></li>
        <li><a href="https://finance-tracker-fronted.vercel.app/home" target="_blank" class="hover:underline">Foydali site</a></li>
      </ul>
    </div>
  </div>

  <div class="text-center text-blue-200 mt-12 text-sm">
    © 2025 {{config.projectName}}. Barcha huquqlar himoyalangan.
  </div>
</footer>
